labelme==5.3.0
pycocotools
video-cli
ultralytics
albumentations
jupyter
pycocotools
fastapi
uvicorn
# database
psycopg2
PyMySQL
cryptography
sqlalchemy
# async database
asyncpg
greenlet
aiomysql
#password
passlib
bcrypt
python-multipart
python-jose
# test
pytest
pytest-asyncio
httpx
pytest-sugar
# imantics